body { background-color: #f7f9fc; }
.card img { height: 150px; object-fit: cover; }
.table { font-size: 0.9rem; }

tr.verde td { background-color: rgb(226, 240, 203); }
tr.azul td { background-color: rgb(205, 231, 255); }
tr.rosa td { background-color: rgb(253, 226, 228); }
tr.amarillo td { background-color: rgb(255, 241, 193); }
tr.lila td { background-color: rgb(234, 215, 255); }
tr.menta td { background-color: rgb(216, 243, 220); }
tr.naranja td { background-color: rgb(255, 214, 165); }
tr.cian td { background-color: rgb(208, 244, 222); }
